.fundo{
    background-color: #222;
    color: white;
    }
    .box{
    background-color: #444;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0px 20px 0 rgba( 255, 207, 0, 0.3 );
    }