<div class="box-form" style="text-align: center;">
    <h3>MENU</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <hr style="border-color: #7E7B7C">

    <div style="text-align: center;">
        <label>Login: </label>
        <a href="{% url 'login' %}" type="submit" class="btn-principal" style="text-decoration: none;">Login</a>
        <br> 
        <br>
        <label>Cadastro:</label>
        <a href="{% url 'cadastro' %}" type="submit" class="btn-principal" style="text-decoration: none;">Cadastro</a>
        <br>    
        <br>  
        {% if user.is_authenticated %}
        <label>Logout: </label>
        <a href="{% url 'logout' %}" type="submit" class="btn-principal" style="text-decoration: none;">Logout</a>
        <br> 
        <br> 
        <label>Novo Evento: </label>
        <a href="{% url 'novo_evento' %}" type="submit" class="btn-principal" style="text-decoration: none;">Novo Evento</a>
        <br> 
        <br> 
        <label>Gerenciar Evento: </label>
        <a href="{% url 'gerenciar_evento' %}" type="submit" class="btn-principal" style="text-decoration: none;">Gerenciar Evento</a>
        <br>
        <br>
        {% endif %}
    </div>
</div>