{% load static %}

<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>Receba 30 dias gratis de consultoria</h4>
              <p>Nós da Fusion garantimos tanto o nosso serviço que oferecemos 30 dias de consultoria sem nenhum custo para você conhecer nosso produto. </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="#" class="btn btn-common">Registre agora</a>
          </div>
        </div>
      </div>
    </section>