{% load static %}

<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Planos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$49,90<span> /mes</span></p>
              </div>
              <div class="title">
                <h3>Básico</h3>
              </div>
              <ul class="description">
                <li>1 reunão mensal</li>
                <li>Suporte por e-mail</li>
                <li>Atualizações vigentes enquanto assinante</li>
                <li><br/></li>
                <li><br/></li>
                <li><br/></li>
              </ul>
              <button class="btn btn-common">Assine agora</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-drop"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$119,90<span> /mes</span></p>
              </div>
              <div class="title">
                <h3>Plus</h3>
              </div>
              <ul class="description">
                <li>2 reuniões mensais</li>
                <li>1 reunião de consultoria de negócios</li>
                <li>Prioridade no atendimento via e-mail</li>
                <li>Atualizações vigentes enquanto assinante</li>
              </ul>
              <button class="btn btn-common">Assine agora</button>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-star"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$299,90<span> /mes</span></p>
              </div>
              <div class="title">
                <h3>Premium</h3>
              </div>
              <ul class="description">
                <li>4 reuniões mensais</li>
                <li>4 reuniões de consultoria</li>
                <li>Atendimento via ligação</li>
                <li>Maior Prioridade no atendimento via e-mail</li>
                <li>Atualizações vigentes enquanto assinante</li>
              </ul>
              <button class="btn btn-common">Assine agora</button>
            </div>
          </div>
        </div>
      </div>
    </section>