.sidebar{
    background-color: #222;
    height: 100vh;
}

.logo_sidebar{
    text-align: center;
}

.img_logo_sidebar{
    width: 100%;
}

.fundo{
    background-color: #262931;
    background-image: url("/static/home/img/fundo_lgti.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar{
    background-image: url("/static/home/img/logolgti.ico");
}

.area_cadastrar{
    margin-top: 8%;
    margin-left: 15%;
    width: 80%;
}

.titulo{
    color: white;
    font-weight: bold;
}

.sub-titulo{
    color: white;
}

.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;
}

.input-form:focus{
    border: 2px solid #ff0085 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.bold{
    color: white;
    font-weight: bold;
}

.btn-first{
    color: white;
    border-color: rgb(255, 0, 133);
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    background-color: #ff0085;
    color: white;
    font-weight: bold;
    text-align: center;
}

.box{
    background-color: #444;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: 0% 0% / cover rgba(24, 27, 31, 0.9);
}